a {
  color: rgb(35, 169, 187);
}
.title {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  line-height: 1rem;
  padding-top: 2rem;
  border-radius: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.title h1{
  color: rgb(210, 228, 228);
  font-weight: 800;
  margin-top: 0;
}
.title h2{
  color: rgb(157, 199, 201);
  font-weight: 500;
}
.characterCard {
    width: 550px;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
    background: rgb(45, 51, 70);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: 20px 20px 40px rgba(26, 69, 102, 0.3);
    font-size: 16px;
}

.characterCard:hover{
  -webkit-transition: all 0.2s ease-in;
  
  background: rgb(48, 56, 87);
  transform: scale(1.05);
}

    .characterImagen {
      width: 35%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .characterImagen img {
      width :100%;
      height:100%;
      margin: 0px;
      border-radius: 0.5rem 0 0 0.5rem;
      box-shadow: 0 0 20px rgba(7, 204, 198, 0.5);
    }
  
  .characterContent {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex: 3 1;
    text-align: left;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .characterContent .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .characterContent .section:last-child {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  
  .characterContent h2 {
    margin: 0px;
    padding: 0px;
    color: rgb(165, 208, 219);
  }
  
  .characterContent span {
    font-weight: 500;
  }
  
  .data-card{
    color: rgb(162, 209, 220);
  }

  .data-answer{
    color:rgb(224, 233, 245)
  }
  
  .characterContent .status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
  }
  
  .characterContent .status__icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
  }
  
  .status__alive {
    background: rgb(85, 204, 68);
  }
  
  .status__dead {
    background: rgb(214, 61, 46);
  }
  
  .status__unknown {
    background: gray;
  }

  @media (max-width: 376px) {
    .characterCard {
      flex-direction: column;
      width: 90%;
      height: 560px;
    }

    .characterImagen {
      width: 100%;
    }
    .characterImagen img {
      border-radius: 0;
    }
    h2 {
      margin-top: ;
      text-align: center;
    }
    .characterContent {
      padding: 1rem;
      margin-bottom: 1rem;
    }
    
  }